.venv/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.idea/
.vscode/
.DS_Store
odoo/.git/
odoo/venv/
odoo/.idea/
odoo/.vscode/
odoo/odoo.log
odoo/enterprise/
odoo/.pytest_cache/
odoo/__pycache__/
odoo/addons/**/__pycache__/
odoo/addons/**/node_modules/
odoo/node_modules/
**/node_modules/
**/.pytest_cache/
**/__pycache__/
